.DS_Store
.vscode/
*.swp
*~
~$*

.quarto/
*.quarto
_site/

_archived/
*.log
.settings/
cache/
data/

__pycache__/
*.py[cod]
.ipynb_checkpoints/

.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Renviron
.Rprofile
